.env
.env/
.venv/
.venv

data
data/

sentiment
sentiment/

lightning_logs/
lightning_logs

__pycache__/
__pycache__


data.ipynb
news.ipynb

model_test.ipynb

__pycache__/
*.pyc
.env
*.sqlite3
*.log
models/*.pt  # if model weights exist
venv/